<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings/>
	<connectionStrings>
  <clear />
  <add name="LocalSqlServer" connectionString="Integrated Security=SSPI;Data Source=localhost ;Initial Catalog=aspnetdb;User Instance=False"
   providerName="System.Data.SqlClient" />
  <add name="ProjektdatabasConnectionString" connectionString="Data Source=HEMDATOR-HUDIK\SQLEXPRESS;Initial Catalog=Projektdatabas;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="aspnetdbConnectionString" connectionString="Data Source=localhost;Initial Catalog=aspnetdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true" />
    <compilation debug="true"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <siteMap enabled="true" defaultProvider="DefaultSiteMapProvider">
      <providers>
        <add name="DefaultSiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="Web.sitemap"/>
        <add name="SiteMapProvider_inloggad" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="Web2.sitemap"/>
      </providers>
    </siteMap>
    
	</system.web>
</configuration>
